 @font-face {
    font-family: luga;
    src: url(luga.ttf);
   }
   
   @font-face {
    font-family: europebold;
    src: url(europebold.ttf);
   }

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background:url('main_bg_1.jpg') repeat;
/*	background: #EFEFEF;*/
}

#page
{
	background: -moz-linear-gradient(top ,#8d8d8d 0%,#C2C2C2 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top ,#8d8d8d 0%,#C2C2C2 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #8d8d8d 0%,#C2C2C2 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #8d8d8d 0%,#C2C2C2 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(top, #8d8d8d 0%,#C2C2C2 100%) repeat scroll 0 0 transparent;
	margin: 5px 0 10px 40px;
	border: 1px solid #C9E0ED;
	position:relative;
	top:-8px;
	
}

#wrapper{
background:url('left_line_1.jpg') repeat-y 40px 0;
margin: 0 0 0 5px;
padding-top:20px !important;
min-height:700px;
}


#header
{
	margin: 0;
	position:relative;
	width:100%;
	height:170px;
	padding: 0;
/*	border-top: 3px solid #C9E0ED;*/
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
	background:url('LINES-2.png') no-repeat;
	
}

#logo-pic{
position:relative;
top:16px;
margin-left:51px;
display:block;
width:176px;
}

#reklamnoe{
margin-left:235px;
margin-top:-3px;
display:block;

}

#top-arrow{
display:block;
margin-left: 436px;
margin-top:-9px;
}

#proizvodim{
display:block;
margin-left:640px;
margin-top: -14px;
}

#phones{
font-family:luga;
font-size: 19px;
font-weight:normal;
margin-left:581px;
margin-top:-47px;
}

#top-menu{
margin-left:-16px;

}

#top-menu ul {
padding-bottom: 20px !important;
list-style-type:none;
padding-top:25px;
}

#top-menu ul li {
display: block;
float: left;
background: none;
padding-left: 49px;
padding-top: 9px;
height: 48px;
margin-left: 22px;
position: relative;
}

#top-menu ul li a {
font-family: "europebold";
font-size: 12px;
display: block;
color: #2f5771;
width: 110px;
height: 29px;
text-align: center;
padding-top: 4px;
padding-left: 25px;
padding-right: 10px;
margin-left: -15px;
background: #ebedec;
line-height: 13px;
letter-spacing: 1px;
text-decoration:none !important;
}

#top-menu ul li a:hover{
text-decoration:underline !important;
}

.item-466 a {
padding-left: 15px !important;
padding-right: 0 !important;
width: 130px !important;
}

.item-468 a {
padding-top: 8px !important;
height: 25px !important;
}

.top-circ {
position: absolute;
z-index: 1000;
left: -1px;
top: -1px;
width: 52px;
height: 52px;
background:url('top_menu_circ.png') no-repeat 1px 1px;
}

#left-menu{
width: 185px;
height: 500px;
float: left;
margin-right: 20px;
margin-top: 22px;
padding-bottom:80px;
position: relative;
z-index: 100;
margin-left:8px;
}

#left-menu ul{
list-style-type:none;
}

#left-menu li {
display: block;
margin-bottom: 5px;
height: 43px;
padding-top: 8px;
width: 180px;
position: relative;
}

#left-menu li a {
font-family: "europebold";
font-size: 12px;
display: block;
color: white;
width: 130px !important;
height: 31px;
text-align: center !important;
padding: 5px 15px 0 4px !important;
background: #2f5771 !important;
border: none !important;
margin: 0 !important;
letter-spacing: 1px !important;
text-decoration:none !important; 
line-height: 12px;
}

#left-menu .ux-menu-item473 a, #left-menu .ux-menu-item475 a, #left-menu .ux-menu-item476 a, #left-menu .ux-menu-item477 a, #left-menu .ux-menu-item478 a, #left-menu .ux-menu-item470 a {
padding: 10px 15px 0 4px !important;
height: 24px;
}

.left-circ {
position: absolute;
z-index: 1000;
left: 129px;
top: 0;
width: 52px;
height: 52px;
background: url('left_menu_circ.png') no-repeat 1px 1px;
}

.left-circ-2 {
position: absolute;
z-index: 990;
left: 129px;
top: 0;
width: 52px;
height: 52px;
background: url('left_menu_bg_2.png') no-repeat 1px 1px;
}

#left-menu #ariext88 .ux-menu-item470 a {
color: #2F5771 !important;
background: none !important;
}

#left-menu #ariext88 > .ux-menu-item470  {
background: url('left_menu_bg_active.png') no-repeat !important;
}

#left-menu #ariext88 > .ux-menu-item470 .left-circ-2,#left-menu #ariext88 > .ux-menu-item470 .left-circ {
display:none;
}

#content
{
    padding: 10px 10px;
/*	float:left;*/
	width:730px;
	
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#accord
{
	width: 500px;
}

#footer {
margin-left:-15px;
height: 70px;
background: #d9dbda;
margin-top:-15px;
}


#logo
{
	margin: auto;
	width: 570px;
/*	padding: 0px 20px;
	font-size: 200%;*/
	overflow:auto;
	height:105px;
	text-align:center;
	vertical-align:middle;
	}
div#logo ul li
{
	list-style-type: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    text-align: justify;
    text-decoration: none;
	
}
#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}
#adminmenu ul li
{
	display: block;
}
#mainmenu ul li a, #adminmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a ,#adminmenu ul li a:hover, #adminmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}


#left_menu
{
	background:white url(bg.gif) repeat-x left top;
	float:left;
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
	float:left;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	float:left;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#map{
border:1px solid grey;
}



.clear{
margin:0;
padding:0;
height:0;
clear:both;
}